@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bebas+Neue&family=Carattere&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Lilita+One&family=Luxurious+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tangerine:wght@400;700&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --mg: #ffc400;
  --ml: #cf2e2e;
  --m: #a12828;
  --md: #6d0e1b;
  --c: #1F1F1F;
  --g: #252525;
  --g2: #555555;
  --dr: #C48A8A;
  --ow: #FAFAFA;
  --iv: #F7F3EF;
  --bg-section: #fff0f0;
  --sg: #B8B2AD;
  --sg1: #e7e5e3;
}

/* =========================
  GLOBAL RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  font-weight: 700;
  color: var(--c);
  text-decoration: none;
  letter-spacing: 2px;
  text-decoration: none;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}
.logo span {
  color: var(--m);
}

.img-dashboard img {
  width: 650px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 340px;
  background: var(--iv);
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 407px;
  height: 457px;
  inset: 0;
  background: var(--ow);
  margin: 30px;
  border-radius: 17px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: .2s ease-in-out;
}

.wrapper.active {
  height: 527px;
  transition: .2s ease-in-out;
}

.wrapper .login {
  position: absolute;
  transform: translateX(0px);
  transition: .6s;
}
.wrapper .register {
  position: absolute;
  transform: translateX(400px);
  transition: .2s ease-in-out;
}
.wrapper.active .login {
  position: absolute;
  transform: translateX(-400px);
  transition: .2s ease-in-out;
}
.wrapper.active .register {
  position: absolute;
  transform: translateX(0px);
  transition: .6s;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding: 24px;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form h2 {
  /* align-items: center; */
  font-size: 2rem;
  color: var(--c);
  padding-bottom: 25px;
}

.input-box {
  position: relative;
  width: 100%;
  display: flex;
  height: 40px;
}

.input-box input {
  width: 100%;
  border-radius: 12px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: transparent;
  padding: 0 28px 0 10px;
}
.input-box i {
  font-size: 1.1rem;
  color: var(--g2);
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: .79rem;
}

.remember-forgot a {
  text-decoration: none;
  color: var(--m);
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: var(--ml);
}

.btn {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 12px;
  color: var(--iv);
  background: var(--m);
  font-size: 1.2rem;
  font-weight: 500;
}

.btn:hover {
  background: var(--ml);
}

.login-register{
  font-size: .87rem;
}

.login-register a {
  text-decoration: none;
  color: var(--m);
}

.login-register a:hover {
  text-decoration: underline;
  color: var(--ml);
}

.social-icons {
  display: flex;
  justify-content: center;
  font-size: 25px;
  gap: 23px;
}

.social-icons a i {
  color: var(--m);
  padding: 8px;
  align-items: center;
  text-align: center;
  border: 2px solid var(--m);
  border-radius: 12px;
}

.social-icons a i:hover {
  color: var(--ml);
  border: 2px solid var(--ml);
}

.alert-box {
  position: fixed;
  top: 140px;
  left: 50%;
  width: 230px;
  height: 40px;
  border-radius: 12px;
  margin: 0 auto;
  padding: 0% 20px;
  background: rgb(221, 221, 221);
  transform: translateX(-50%);
  z-index: 1000;
  overflow: hidden;
}

.alert-box .alert-success {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--c);
}

.alert {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--g);
  font-weight: 500;
}

.alert::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1%;
  background: rgba(2, 255, 107, 0.788);
  animation: fadeOut 3s forwards;
}

.alert.error::after {
  background: rgba(255, 50, 50, 0.767);
}

.alert i {
  font-size: 2.2rem;
  color: green;
  margin-right: 8px;
}

.alert.error i {
  color: red;
}