@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bebas+Neue&family=Carattere&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Lilita+One&family=Luxurious+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tangerine:wght@400;700&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --red:     #cf3538; /* ml */
  --red-d:   #a10909; /* m */  
  --dark:    #1a1a1a;  /*g*/ /*c*/
  --gray:    #5a5a5a;  /*g3*/ /*g2*/
  --gray-l:  #B8B2AD; /*sg*/
  --red-m:   #fde0e0; /* dr */
  --red-l:   #fff5f5;
  --light:   #f8f6f6; /*ow*/ /* iv */
  --white:   #ffffff;
  --border:  #eedede;
  --gold:    #ffc811;
}
/* =========================
  GLOBAL RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--light);
  color: var(--dark);
  overflow-x: hidden;
}

section {
  background: var(--white);
  height: 100vh;
}

.img-dashboard img {
  width: 650px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 8rem;
  margin: .1rem auto;
  border-radius: 17px;
  gap: 7rem;
}

.title {
  position: absolute;
  top: 6%;
  text-align: center;
  margin-top: 3rem;
}

.title h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.7rem;
  color: var(--dark);
}

.title a {
font-size: 3rem;
}

.title p {
  font-size: 1.2rem;
  color: var(--gray);
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 587px;
  height: 537px;
  inset: 0;
  background: var(--white);
  border: 1px solid rgba(156, 156, 156, 0.301);
  margin: 30px;
  border-radius: 17px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: .2s ease-in-out;
}

.wrapper.active {
  height: 587px;
  transition: .2s ease-in-out;
}

.wrapper .login {
  position: absolute;
  transform: translateX(0px);
  transition: .6s;
}
.wrapper .register {
  position: absolute;
  transform: translateX(600px);
  transition: .2s ease-in-out;
}
.wrapper.active .login {
  position: absolute;
  transform: translateX(-600px);
  transition: .2s ease-in-out;
}
.wrapper.active .register {
  position: absolute;
  transform: translateX(0px);
  transition: .6s;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  padding: 24px;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form h2 {
  /* align-items: center; */
  font-size: 2rem;
  color: var(--dark);
  padding-bottom: 55px;
}

.input-box {
  position: relative;
  width: 100%;
  display: flex;
  height: 40px;
}

.input-box input {
  width: 100%;
  border-radius: 12px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: transparent;
  padding: 0 28px 0 10px;
}
.input-box i {
  font-size: 1.1rem;
  color: var(--gray);
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: .79rem;
}

.remember-forgot a {
  text-decoration: none;
  color: var(--red-d);
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: var(--red);
}

.btn {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 12px;
  color: var(--light);
  background: var(--red-d);
  font-size: 1.2rem;
  font-weight: 500;
}

.btn:hover {
  background: var(--red);
}

.login-register {
  color: var(--gray);
  font-size: .87rem;
}

.login-register a {
  font-weight: 600;
  text-decoration: none;
  color: var(--red-d);
}

.login-register a:hover {
  text-decoration: underline;
  color: var(--red);
}

.social-icons {
  display: flex;
  justify-content: center;
  font-size: 25px;
  gap: 23px;
}

.social-icons a i {
  color: var(--red-d);
  padding: 8px;
  align-items: center;
  text-align: center;
  border: 2px solid var(--red-d);
  border-radius: 12px;
}

.social-icons a i:hover {
  color: var(--red);
  border: 2px solid var(--red);
}

.already-login-box {
  background: var(--white);
  border: 1.5px solid var(--border);
  border-radius: 14px;
  padding: 2rem;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}

.already-login-box .user-ready {
  color: var(--red-d);
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 12px;
}

.already-login-box h3 {
  font-size: 18px;
  color: var(--dark);
  margin-bottom: 6px;
}

.alert-box {
  position: relative;
  text-align: center;
  inset: 0;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0% 15px;
  z-index: 1000;
  transform: translateY(500px);
}

.alert-box.show {
  display: block;
  transform: translateY(-230px);
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  color: var(--red-d);
  background: var(--red-m);
  border: 1.5px solid var(--border);
  font-weight: 500;
}

.alert.success {
  color: rgb(74, 247, 74);
  background: rgb(220, 255, 220);
  border: 1.5px solid rgb(74, 247, 74);
}

.alert.error {
  color: rgb(247, 74, 74);
  background: rgb(255, 220, 220);
  border: 1.5px solid rgb(247, 74, 74);
}

.alert i {
  font-size: 1.8rem;
  color: rgb(0, 202, 0);
  margin-right: 3px;
}

.alert.error i {
  color: rgb(202, 0, 0);
}