@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bebas+Neue&family=Carattere&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Lilita+One&family=Luxurious+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tangerine:wght@400;700&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --red:    #cf3538; /* ml */
  --red-d:  #a10909; /* m */  
  --dark:   #1a1a1a;  /*g*/ /*c*/
  --gray:   #5a5a5a;
  --gray-l: #939393;
  --red-m:  #fde0e0; /* dr */
  --red-l:  #fff5f5;
  --light:  #f8f6f6; /*ow*/ /* iv */
  --white:  #ffffff; /*bg-section*/
  --border: #eedede;
  --gold:   #ffc811;
}

  
/* =========================
  GLOBAL RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--light);
  color: var(--dark);
}

/* =========================
  HEADER
========================= */
header {
  position: fixed;
  width: 100%;
  height: 5%;
  top: 0;
  left: 0;
  padding: 10px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light);
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, .1);
  z-index: 1000;
}

span {
  font-family: 'Inter', serif;
  color: var(--red);
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: clamp(1rem, 5.5vw, 1.5rem);
  font-weight: 700;
  color: var(--dark);
  text-decoration: none;
  letter-spacing: 2px;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--gray);
  font-size: .8rem;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--red);
}

.nav-btn {
  gap: 12px;
}

.nav-btn a {
  text-decoration: none;
}

.btn-login {
  font-size: 1rem;
  font-weight: 600;
  padding: 4px 32px;
  border-radius: 30px;
  background: var(--red);
  border: 1px solid var(--red);
  color: var(--light);
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background: var(--red-d);
  color: var(--light);
}


/*=========================
  FOOTER – ULTRA MINIMAL
========================= */

.footer {
  font-family: 'Inter', serif;
  background: var(--dark);
  padding: 40px 8% 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-brand .logo-footer {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--light);
}

.footer-brand span {
  font-family: 'Inter', serif;
  color: var(--red);
}

.footer-brand p {
  font-size: clamp(0.5rem, 2vw, .8rem);
  color: var(--gray-l);
  line-height: 1.6;
  max-width: 500px;
}

.footer-social {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin-top: 20px;
  font-size: 1.9rem;
}


.footer-social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  color: var(--gray-l);
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-social a:hover {
  color: var(--light);
  transform: translateY(-3px);
}

.footer-links {
  display: flex;
  justify-content: right;
  gap: 12px;
}

.footer-links a {
  display: block;
  text-decoration: none;
  font-size: clamp(0.5rem, 2vw, .7rem);
  color: var(--gray-l);
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: var(--light);
  transform: translateY(-4px);
}

.footer-bottom {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid var(--gray-l);
  text-align: center;
}

.footer-bottom p {
  font-size: 11px;
  color: var(--gray-l);
}

.profile-box .avatar-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  text-align: center;
  font-size: 1rem;
  color: var(--dark);
  font-weight: 600;
  cursor: pointer;
}
.profile-box .avatar-circle i {
  font-size: 1.2rem;
  color: var(--light);
  padding: 9px;
  margin-left: 12px;
  background: var(--gray-l);
  border-radius: 50%;
}

.profile-box .dropdown-content {
  position: absolute;
  top: 60px;
  right: 150px;
  background: var(--light);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  padding: 10px;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  pointer-events: none;
}

.profile-box.show .dropdown-content {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.profile-box .dropdown-content a {
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--gray);
  text-decoration: none;
  font-weight: 500;
  margin: 4px 0;
  transition: 0.3s;
}
.profile-box .dropdown-content a:hover {
  background: var(--r2);
  color: var(--light);
}
